@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

:root {
  --color-background: #1f2237;
  --color-background-tint-10p: #35384b;
  --color-text: #f5f6fa;
  --color-text-shade-20p: #c4c5c8;
  --color-card-background: #161827;
  --color-primary: #fdfd96;
  --font-size-small: 1.2rem;
  --font-size-details: 1.4rem;
  --font-size-body: 1.6rem;
  --font-size-subtitle: 1.8rem;
  --font-size-title: 2.4rem;
  --font-size-main-title: 4.2rem;
  --header-height: 6rem;

  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-size-body);
  color: var(--color-text);
}

html,
body {
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
  background-color: var(--color-background);
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  display: block;
  padding: 1.5rem;
  background-color: var(--color-background-tint-10p);
  border-radius: 0.8rem;
  font-family: monospace;
  white-space: pre-line;
  color: var(--color-text-shade-20p);
}

* + code {
  margin-top: 15px;
}

code + * {
  margin-top: 15px;
}

::-moz-selection {
  background: var(--color-text);
  color: var(--color-background);
}

::selection {
  background: var(--color-text);
  color: var(--color-background);
}
