body > header {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: var(--color-card-background);
  padding: 0 32px;
  font-size: 3.6rem;
  font-weight: medium;
  height: var(--header-height);
  width: 100vw;
}

body > header .logo {
  height: 3.4rem;
  width: 3.4rem;
  margin-right: 1.4rem;
}

#main-container {
  display: flex;
  margin-top: var(--header-height);
}

aside {
  padding: 32px 16px;
  width: 20vw;
}

aside li {
  list-style: none;
}

aside li + li {
  margin-top: 5px;
}

#contents-bar {
  border-right: 1px solid var(--color-background-tint-10p);
}

#contents-bar li a {
  font-size: var(--font-size-body);
}

main {
  height: calc(100vh - var(--header-height));
  overflow-y: scroll;
  padding: 32px;
  width: 80vw;
}

main::-webkit-scrollbar {
  display: none;
}

main > section + section {
  margin-top: 3rem;
}

main > section:first-child header {
  font-size: var(--font-size-main-title);
}

main > section header {
  font-size: var(--font-size-subtitle);
  font-weight: 600;
}

main > section li {
  margin: 15px 0 0 20px;
  list-style-position: inside;
}

main > section p {
  margin: 15px 0;
}

#topics-bar {
  border-left: 1px solid var(--color-background-tint-10p);
}

#topics-bar li a {
  font-size: var(--font-size-small);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-card-background);
  padding: 1.6rem;
  min-height: 14.4rem;
  width: 100vw;
}

footer .external-links-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

footer .external-links-container > div {
  display: flex;
  flex-direction: column;
}

footer .external-links-container > div a {
  font-size: var(--font-size-small);
  font-weight: 400;
  text-align: left;
}

footer .external-links-container > div a:first-child {
  font-weight: 600;
  margin-bottom: 6px;
}

footer .copyright {
  font-size: var(--font-size-small);
  font-weight: medium;
}
